<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTWsx8XHDCJgrqCleQr-LUzEa43f7r_xU</string>
	<key>GCM_SENDER_ID</key>
	<string>593104145105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aitQr</string>
	<key>PROJECT_ID</key>
	<string>smartlabs-b3992</string>
	<key>STORAGE_BUCKET</key>
	<string>smartlabs-b3992.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593104145105:ios:9623c9e850d30157dfd3f0</string>
</dict>
</plist>